
.class-chat-input-bar {
  padding: 20px;
  position: absolute;
  bottom: 20px;
  width: 90%;
  height: 15px;
  margin: auto;
  border: solid;

  .message {
    display: inline-block;
    width: 90%;
    height: 40px;
    vertical-align: text-top;
  }

  .send-options {
    display: inline-block;
    .send {
      position: absolute;
      top: 5px;
    }

    .options {
      position: absolute;
      bottom: 5px;
    }
  }
}