@import "../misc/drop-shadow";

.class-side-bar {
  float: left;
  width: 200px;
  margin-left: 20px;
  margin-top: 40px;

  .title {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 20px;
  }

  .panel {
    background-color: white;
    border-radius: 25px;
    width: 100%;
    min-height: 100px;
    @include drop-shadow();
    margin-bottom: 20px;
  }
}