<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/bundle.css">
    </head>
    <body>
        <script src="/bundle.js"></script>
    </body>
</html>